<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.sbsmstaff" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessActivity"
            android:label="@string/title_activity_process" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".WorkerMenuActivity"
            android:label="@string/title_activity_worker_menu" >
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".ManActivity"
            android:label="@string/title_activity_man" >
        </activity>
        <activity
            android:name=".ManAssignActivity"
            android:label="@string/title_activity_man_assign" >
        </activity>
        <activity
            android:name=".StaffReportActivity"
            android:label="@string/title_activity_staff_report" >
        </activity>
        <activity
            android:name=".StaffActivity"
            android:label="@string/title_activity_staff" >
        </activity>
        <activity
            android:name=".AssignedReportActivity"
            android:label="@string/title_activity_assigned_report" >
        </activity>
    </application>

</manifest>
